# ç´„ç¶­å®‰è¨ˆç•«ï¼šåŸºç¤çš„è³‡æ–™è™•ç†æŠ€æ³•

> ç¬¬ä¸‰åå…­é€±

![](wrangle.png)

ä¾†æºï¼š<https://r4ds.had.co.nz/wrangle-intro.html>

## è³‡æ–™ç§‘å­¸çš„æ‡‰ç”¨å ´æ™¯

æ ¹æ“š Grolemund, G., & Wickham, H. (2017). R for Data Science. Oâ€™Reilly Media. è³‡æ–™ç§‘å­¸çš„æ‡‰ç”¨å ´æ™¯èˆ‡å·¥å…·éœ€æ±‚åŒ…å«å…­å€‹é …ç›®ï¼Œåˆ†åˆ¥æ˜¯ï¼š

1. Import è³‡æ–™è¼‰å…¥ã€‚
2. Tidy è³‡æ–™æ¸…ç†ã€‚
3. Transform è³‡æ–™è½‰æ›ã€‚
4. Visualize è¦–è¦ºåŒ–ã€‚
5. Model æ¨¡å‹ã€‚
6. Communicate æºé€šã€‚

å…¶ä¸­ Import è³‡æ–™è¼‰å…¥ã€Tidy è³‡æ–™æ¸…ç†åŠ ä¸Š Transform è³‡æ–™è½‰æ›åˆè¢«åˆç¨±ç‚º Data Wranglingï¼Œè‡³æ–¼ä½•è¬‚ Wranglingï¼Ÿé€™æ˜¯ä¸€ç¨®æºè‡ªç¾åœ‹æ‹“è’æ™‚æœŸï¼Œæ–¼ç¾åœ‹ä¸­è¥¿éƒ¨ç”Ÿæ´»çš„ç‰›ä»”åœ¨åœˆè¶•ç‰›ç¾Šé¦¬æ™‚å€™æ‰€ä½¿ç”¨çš„ç¹©ç´¢æŠ€å·§ï¼Œé€™ä¹Ÿæ˜¯æœ‰ä¸€å€‹ç‰›ä»”è¤²å“ç‰Œå«åš Wrangler çš„èµ·æºï¼Œç¾ä»Šå¤šæ•¸çš„è®€è€…å¯èƒ½å·²ç¶“æ²’æœ‰å†çœ‹éä»¥ç‰›ä»”ç”Ÿæ´»ç‚ºä¸»é¡Œçš„å¥½èŠå¡¢é›»å½±ï¼Œä¸éå¿…å®šçœ‹é DC Comics æ¥µå—æ­¡è¿çš„ç¥åŠ›å¥³è¶…äººï¼ˆWonder Womanï¼‰ä½¿ç”¨çœŸç†ä¹‹ç´¢ï¼ˆThe Lasso of Truthï¼‰çš„è‹±å§¿ï¼Œé€™å€‹å‹•ä½œå°±æ˜¯ Wrangleã€‚

![](https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExNzRoOWFtOHN6bGU5b3NobHF5bnNzaDVlY2RqYTJhZHhpbzlkMmt3biZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/MnlZWRFHR4xruE4N2Z/giphy.gif)

ä¾†æºï¼š<https://giphy.com>

## åŸºç¤çš„è³‡æ–™è™•ç†æŠ€æ³•ä¸€è¦½

åŸºç¤çš„è³‡æ–™è™•ç†æŠ€æ³•å°±å¦‚åŒçµæ§‹åŒ–æŸ¥è©¢èªè¨€ SQL å°é—œè¯å¼è³‡æ–™åº«è³‡æ–™è¡¨çš„è³‡æ–™æ“ä½œä¿ç•™å­—ï¼Œåƒæ˜¯ï¼š

- æª¢è¦–è³‡æ–™ã€‚
- SELECT é¸æ“‡æ¬„ä½ã€‚
- WHERE ç¯©é¸è§€æ¸¬å€¼ã€‚
- ORDER BY æ’åºè³‡æ–™ã€‚
- GROUP BY åˆ†çµ„èšåˆã€‚

ç‚ºäº†èƒ½å¤ ç¤ºç¯„ä¸Šè¿°é€™å¹¾é …åŸºç¤è³‡æ–™è™•ç†æŠ€æ³•ï¼Œæˆ‘å€‘å…ˆè¼‰å…¥ä¸€å€‹å„²å­˜åœ¨å·¥ä½œç›®éŒ„ä¸­é€—è™Ÿåˆ†éš”å€¼æª”æ¡ˆ movies.csvã€‚

In [1]:
import pandas as pd

movies = pd.read_csv("movies.csv")

## æª¢è¦–è³‡æ–™

æˆ‘å€‘å¯ä»¥ä½¿ç”¨ DataFrame é¡åˆ¥æ‰€å»ºç«‹å¯¦ä¾‹çš„å››å€‹å±¬æ€§æª¢è¦–è³‡æ–™ï¼š

1. shape å±¬æ€§ï¼šæª¢è¦–å¤–å‹ã€‚
2. dtypes å±¬æ€§ï¼šæª¢è¦–å„æ¬„ä½çš„è³‡æ–™é¡åˆ¥ã€‚
3. index å±¬æ€§ï¼šæª¢è¦–æ¯å€‹è§€æ¸¬å€¼å°æ‡‰çš„åˆ—ç´¢å¼•ï¼ˆRow-indexï¼‰ã€‚
4. columns å±¬æ€§ï¼šæª¢è¦–æ¯å€‹è®Šæ•¸å°æ‡‰çš„æ¬„ç´¢å¼•ï¼ˆColumn-indexï¼‰ã€‚

In [2]:
print(movies.shape)
print(movies.dtypes)
print(movies.index)
print(movies.columns)

(250, 6)
id                int64
title            object
release_year      int64
runtime           int64
rating          float64
link             object
dtype: object
RangeIndex(start=0, stop=250, step=1)
Index(['id', 'title', 'release_year', 'runtime', 'rating', 'link'], dtype='object')

é™¤äº†ä»¥ä¸Šè¿°å››å€‹å±¬æ€§æª¢è¦–è³‡æ–™ï¼Œ ä¹Ÿèƒ½å¤ ä½¿ç”¨ DataFrame é¡åˆ¥æ‰€å»ºç«‹å¯¦ä¾‹çš„å››å€‹æ–¹æ³•æª¢è¦–è³‡æ–™ï¼š

1. head() æ–¹æ³•ï¼šå›å‚³å‰ n åˆ—è§€æ¸¬å€¼ã€‚
2. tail() æ–¹æ³•ï¼šå›å‚³å¾Œ n åˆ—è§€æ¸¬å€¼ã€‚
3. describe() æ–¹æ³•ï¼šå›å‚³æ•¸å€¼é¡åˆ¥æ¬„ä½çš„æè¿°æ€§çµ±è¨ˆï¼ŒåŒ…å«è¨ˆæ•¸ã€æœ€å°å€¼ã€25 åˆ†ä½æ•¸ã€ä¸­ä½æ•¸ã€å¹³å‡æ•¸ã€75 åˆ†ä½æ•¸èˆ‡æœ€å¤§å€¼ã€‚
4. info() æ–¹æ³•ï¼šå›å‚³è³‡æ–™çš„è©³ç´°è³‡è¨Šï¼ŒåŒ…å«å¤–å‹ã€è³‡æ–™é¡åˆ¥èˆ‡æ¬„ä½åç¨±ç­‰ã€‚

In [3]:
print(movies.head())
print(movies.tail())
print(movies.describe())
print(movies.info())

   id                     title  release_year  runtime  rating  \
0   1  The Shawshank Redemption          1994      142     9.3
1   2             The Godfather          1972      175     9.2
2   3           The Dark Knight          2008      152     9.0
3   4     The Godfather Part II          1974      202     9.0
4   5              12 Angry Men          1957       96     9.0

                                     link
0  https://www.imdb.com//title/tt0111161/
1  https://www.imdb.com//title/tt0068646/
2  https://www.imdb.com//title/tt0468569/
3  https://www.imdb.com//title/tt0071562/
4  https://www.imdb.com//title/tt0050083/
      id           title  release_year  runtime  rating  \
245  246  The Iron Giant          1999       86     8.1
246  247        The Help          2011      146     8.1
247  248   Life of Brian          1979       94     8.0
248  249         Aladdin          1992       90     8.0
249  250        Drishyam          2015      163     8.2

                                       link
245  https://www.imdb.com//title/tt0129167/
246  https://www.imdb.com//title/tt1454029/
247  https://www.imdb.com//title/tt0079470/
248  https://www.imdb.com//title/tt0103639/
249  https://www.imdb.com//title/tt4430212/
               id  release_year     runtime      rating
count  250.000000    250.000000  250.000000  250.000000
mean   125.500000   1986.816000  129.052000    8.309600
std     72.312977     25.387086   29.916505    0.234538
min      1.000000   1921.000000   45.000000    8.000000
25%     63.250000   1966.250000  107.250000    8.100000
50%    125.500000   1994.500000  126.500000    8.200000
75%    187.750000   2007.000000  145.750000    8.400000
max    250.000000   2023.000000  238.000000    9.300000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            250 non-null    int64
 1   title         250 non-null    object
 2   release_year  250 non-null    int64
 3   runtime       250 non-null    int64
 4   rating        250 non-null    float64
 5   link          250 non-null    object
dtypes: float64(1), int64(3), object(2)
memory usage: 11.8+ KB
None

## é¸æ“‡æ¬„ä½

é€éæŒ‡å®šæ¬„ä½åç¨±å¾è³‡æ–™ä¸­é¸æ“‡æ¬„ä½æˆç‚ºä¸€å€‹ Seriesã€‚

In [4]:
print(type(movies["title"]))
print(movies["title"])

<class 'pandas.core.series.Series'>
0      The Shawshank Redemption
1                 The Godfather
2               The Dark Knight
3         The Godfather Part II
4                  12 Angry Men
                 ...
245              The Iron Giant
246                    The Help
247               Life of Brian
248                     Aladdin
249                    Drishyam
Name: title, Length: 250, dtype: object

é€éä»¥ list åŒ…è£å¤šå€‹æ¬„ä½åç¨±å¾è³‡æ–™ä¸­é¸æ“‡æ¬„ä½æˆç‚ºä¸€å€‹ DataFrameã€‚

In [5]:
print(type(movies[["title", "release_year", "rating"]]))
print(movies[["title", "release_year", "rating"]])

<class 'pandas.core.frame.DataFrame'>
                        title  release_year  rating
0    The Shawshank Redemption          1994     9.3
1               The Godfather          1972     9.2
2             The Dark Knight          2008     9.0
3       The Godfather Part II          1974     9.0
4                12 Angry Men          1957     9.0
..                        ...           ...     ...
245            The Iron Giant          1999     8.1
246                  The Help          2011     8.1
247             Life of Brian          1979     8.0
248                   Aladdin          1992     8.0
249                  Drishyam          2015     8.2

[250 rows x 3 columns]

## ç¯©é¸è§€æ¸¬å€¼

é€éé—œä¿‚é‹ç®—ç¬¦ç”Ÿæˆä¸€å€‹ç”±å¸ƒæ—å€¼çµ„åˆè€Œæˆçš„ Seriesã€‚

In [6]:
movies["release_year"] >= 2020

0      False
1      False
2      False
3      False
4      False
       ...
245    False
246    False
247    False
248    False
249    False
Name: release_year, Length: 250, dtype: bool

å†è—‰ç”±å‰é¢ç”Ÿæˆçš„ Series å¾è³‡æ–™ä¸­ç¯©é¸å‡ºå°æ‡‰å¸ƒæ—å€¼ç‚º True çš„åˆ—æ•¸ã€‚

In [7]:
movies[movies["release_year"] >= 2020]

,id,title,release_year,runtime,rating,link
14,15,Spider-Man: Across the Spider-Verse,2023,140,8.9,https://www.imdb.com//title/tt9362722/
22,23,Oppenheimer,2023,180,8.8,https://www.imdb.com//title/tt15398776/
108,109,Hamilton,2020,160,8.3,https://www.imdb.com//title/tt8503618/
126,127,Top Gun: Maverick,2022,130,8.3,https://www.imdb.com//title/tt1745960/
131,132,The Father,2020,97,8.2,https://www.imdb.com//title/tt10272386/
156,157,Spider-Man: No Way Home,2021,148,8.2,https://www.imdb.com//title/tt10872600/
218,219,Jai Bhim,2021,164,8.8,https://www.imdb.com//title/tt15097216/

## æ’åºè³‡æ–™

ä½¿ç”¨ DataFrame é¡åˆ¥æ‰€å»ºç«‹å¯¦ä¾‹çš„ sort_values() æ–¹æ³•ä¾æ“šæ¬„ä½çš„å¤§å°éå¢ã€éæ¸›æ’åºã€‚

In [8]:
movies.sort_values("release_year")

,id,title,release_year,runtime,rating,link
129,130,The Kid,1921,68,8.3,https://www.imdb.com//title/tt0012349/
196,197,Sherlock Jr,1924,45,8.2,https://www.imdb.com//title/tt0015324/
180,181,The Gold Rush,1925,95,8.1,https://www.imdb.com//title/tt0015864/
188,189,The General,1926,78,8.1,https://www.imdb.com//title/tt0017925/
116,117,Metropolis,1927,153,8.3,https://www.imdb.com//title/tt0017136/
...,...,...,...,...,...,...
156,157,Spider-Man: No Way Home,2021,148,8.2,https://www.imdb.com//title/tt10872600/
218,219,Jai Bhim,2021,164,8.8,https://www.imdb.com//title/tt15097216/
126,127,Top Gun: Maverick,2022,130,8.3,https://www.imdb.com//title/tt1745960/
22,23,Oppenheimer,2023,180,8.8,https://www.imdb.com//title/tt15398776/
14,15,Spider-Man: Across the Spider-Verse,2023,140,8.9,https://www.imdb.com//title/tt9362722/

In [9]:
movies.sort_values("release_year", ascending=False)

,id,title,release_year,runtime,rating,link
22,23,Oppenheimer,2023,180,8.8,https://www.imdb.com//title/tt15398776/
14,15,Spider-Man: Across the Spider-Verse,2023,140,8.9,https://www.imdb.com//title/tt9362722/
126,127,Top Gun: Maverick,2022,130,8.3,https://www.imdb.com//title/tt1745960/
218,219,Jai Bhim,2021,164,8.8,https://www.imdb.com//title/tt15097216/
156,157,Spider-Man: No Way Home,2021,148,8.2,https://www.imdb.com//title/tt10872600/
...,...,...,...,...,...,...
116,117,Metropolis,1927,153,8.3,https://www.imdb.com//title/tt0017136/
188,189,The General,1926,78,8.1,https://www.imdb.com//title/tt0017925/
180,181,The Gold Rush,1925,95,8.1,https://www.imdb.com//title/tt0015864/
196,197,Sherlock Jr,1924,45,8.2,https://www.imdb.com//title/tt0015324/
129,130,The Kid,1921,68,8.3,https://www.imdb.com//title/tt0012349/

ä½¿ç”¨ DataFrame é¡åˆ¥æ‰€å»ºç«‹å¯¦ä¾‹çš„ sort_index() æ–¹æ³•ä¾æ“šåˆ—ç´¢å¼•ï¼ˆRow-indexï¼‰éå¢ã€éæ¸›æ’åºã€‚

In [10]:
movies.sort_index()

,id,title,release_year,runtime,rating,link
0,1,The Shawshank Redemption,1994,142,9.3,https://www.imdb.com//title/tt0111161/
1,2,The Godfather,1972,175,9.2,https://www.imdb.com//title/tt0068646/
2,3,The Dark Knight,2008,152,9.0,https://www.imdb.com//title/tt0468569/
3,4,The Godfather Part II,1974,202,9.0,https://www.imdb.com//title/tt0071562/
4,5,12 Angry Men,1957,96,9.0,https://www.imdb.com//title/tt0050083/
...,...,...,...,...,...,...
245,246,The Iron Giant,1999,86,8.1,https://www.imdb.com//title/tt0129167/
246,247,The Help,2011,146,8.1,https://www.imdb.com//title/tt1454029/
247,248,Life of Brian,1979,94,8.0,https://www.imdb.com//title/tt0079470/
248,249,Aladdin,1992,90,8.0,https://www.imdb.com//title/tt0103639/
249,250,Drishyam,2015,163,8.2,https://www.imdb.com//title/tt4430212/

In [11]:
movies.sort_index(ascending=False)

,id,title,release_year,runtime,rating,link
249,250,Drishyam,2015,163,8.2,https://www.imdb.com//title/tt4430212/
248,249,Aladdin,1992,90,8.0,https://www.imdb.com//title/tt0103639/
247,248,Life of Brian,1979,94,8.0,https://www.imdb.com//title/tt0079470/
246,247,The Help,2011,146,8.1,https://www.imdb.com//title/tt1454029/
245,246,The Iron Giant,1999,86,8.1,https://www.imdb.com//title/tt0129167/
...,...,...,...,...,...,...
4,5,12 Angry Men,1957,96,9.0,https://www.imdb.com//title/tt0050083/
3,4,The Godfather Part II,1974,202,9.0,https://www.imdb.com//title/tt0071562/
2,3,The Dark Knight,2008,152,9.0,https://www.imdb.com//title/tt0468569/
1,2,The Godfather,1972,175,9.2,https://www.imdb.com//title/tt0068646/
0,1,The Shawshank Redemption,1994,142,9.3,https://www.imdb.com//title/tt0111161/

## åˆ†çµ„èšåˆ

é¸æ“‡æ¬„ä½ä¸¦ç›´æ¥ä½¿ç”¨ Series é¡åˆ¥æ‰€å»ºç«‹å¯¦ä¾‹çš„èšåˆæ–¹æ³•ï¼Œä¾‹å¦‚ sum()ã€min()ã€mean()ã€max() æˆ– count() ç­‰ç²å¾—æŒ‡å®šæ¬„ä½çš„èšåˆå‡½æ•¸è¨ˆç®—çµæœã€‚

In [12]:
movies["rating"].mean()

8.3096

ä½¿ç”¨ DataFrame é¡åˆ¥æ‰€å»ºç«‹å¯¦ä¾‹çš„ groupby() æ–¹æ³•å°æŒ‡å®šæ¬„ä½å–ç¨ä¸€å€¼ä¸”æ’åºï¼Œç„¶å¾Œé¸æ“‡æ¬„ä½ä¸¦ä½¿ç”¨èšåˆæ–¹æ³•ï¼Œç²å¾—æŒ‡å®šæ¬„ä½çš„åˆ†çµ„èšåˆè¨ˆç®—çµæœã€‚

In [13]:
movies.groupby("release_year")["rating"].mean()

release_year
1921    8.30
1924    8.20
1925    8.10
1926    8.10
1927    8.30
        ...
2019    8.30
2020    8.25
2021    8.50
2022    8.30
2023    8.85
Name: rating, Length: 87, dtype: float64

æŒæ¡åŸºç¤çš„è³‡æ–™æ“ä½œæŠ€å·§ä¹‹å¾Œï¼Œæˆ‘å€‘å°±èƒ½å¤ åœ¨ä¸‹æ¬¡çš„é›»å­å ±ä¸­ä»‹ç´¹é€²éšçš„è³‡æ–™æ“ä½œæŠ€å·§ã€‚ç¬¬ä¸‰åå…­é€±ç´„ç¶­å®‰è¨ˆç•«ï¼šåŸºç¤çš„è³‡æ–™è™•ç†æŠ€æ³• ä¾†åˆ°å°¾è²ï¼Œå¸Œæœ›æ‚¨ä¹Ÿå’Œæˆ‘ä¸€æ¨£æœŸå¾…ä¸‹ä¸€ç¯‡æ–‡ç« ã€‚å°æ–¼é€™ç¯‡æ–‡ç« æœ‰ä»€éº¼æƒ³æ³•å‘¢ï¼Ÿå–œæ­¡ğŸ˜»ã€ç•™è¨€ğŸ™‹â€â™‚ï¸ã€è¨‚é–±ğŸ“¨æˆ–è€…åˆ†äº«ğŸ™Œ